<h1>Tu orden ha sido procesada!</h1>
<h3>Orden final:</h3>
<h4>Informacion:</h4>
<p>
  Nombre: <%= @order.name  %>
  Email: <%= @order.email %>
  Telefono: <%= @order.telephone %>
</p>
<h4>Tu Pastel:</h4>
<p>
  Sabor: <%= @cake.flavor %>
  Tamaño: <%= @cake.size %>
  Instrucciones Especiales: <%= @cake.instructions %>
</p>